/* html {
  width: 500px;
  height: min-content;
  background-image: linear-gradient(#58d9ff, #58d9ff, #5a66c9);
  background-size: cover;
  background-repeat: no-repeat;
} */

* {
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  position: fixed;
}
p {
  font-size: 22px;
  font-weight: bold;
  margin: auto;
  background: linear-gradient(180deg, #6078ea 0%, #17ead9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
h2 {
  width: 155px;
  left: 900px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
/* h3 {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
} */
.div-bg {
  width: 728px;
  height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 250px auto;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  color: white;
  background: linear-gradient(322.13deg, #6078ea 32.68%, #17ead9 135.52%);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}
form {
  font-weight: auto;
  margin: 0px 98px;
}
.column {
  column-count: 2;
}

input {
  border-radius: 40px;
}
input,
select {
  width: 480px;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #c7ecf7;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #c7ecf7;
  outline-color: white;
  font-size: 18px;
  font-weight: bold;
  color: #333b85;
}
input[type="text"],
option {
  font-size: 18px;
  font-weight: bold;
  color: #333b85;
}
button {
  width: 50%;
  background-color: white;
  color: white;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
a:link,
a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
}
a:hover,
a:active {
  color: #5a66c9;
}

/* media query */
@media (max-width: 100px) {
  .div-bg {
    width: 100%;
    margin: 0 auto;
  }
}
