* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.nav {
  width: 1686px;
  height: 100px;
  line-height: 100px;
  padding-left: 10%;
  font-size: 20px;
  font-weight: 800;
  background: #6078ea;
}

.warga a {
  color: #f9fffe;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(180deg, #6078ea 0%, #17ead9 80.04%);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.sidebar header {
  font-size: 22px;
  color: aliceblue;
  text-align: center;
  line-height: 70px;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 22px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #6078ea;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
}

label #cancel {
  z-index: 1111;
  left: -500px;
  top: 145px;
  font-size: 30px;
  color: #f9fffe;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

.content {
  margin: 100px;
}
.container {
  width: 350px;
  height: 100px;
}
.kotak {
  width: 100%;
  height: 70px;
  background: linear-gradient(321.67deg, #6078ea 55.09%, #17ead9 116.78%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  border-radius: 10px 10px 0 0;
  background-color: aqua;
}
.baris {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.wrapper {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding-right: 30px;
  color: aliceblue;
  background: #4e65d0;
}

.link,
.foto {
  color: aliceblue;
  margin-left: 20px;
}
